.main {
  font-family: Nova Round, "Open Sans", "Helvetica Neue";
  margin-left: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  transition: 0.9;
}
.card-heading {
  color: white;
  font-size: 20px;
}
.temp-container,
.ph-container,
.state,
.uptime {
  color: #304458;
  font-size: 15px;
  line-height: 10px;
  background-color: #181b1f;
  width: 380px;
  height: 350px;
  padding-left: 5px;
  justify-content: center;
  border-radius: 7px;
}
.timeseries-graph {
  flex: none;
  margin: 2px;
}
.state .card-heading,
.uptime .card-heading {
  font-size: 20px;
}
.timeseries-graph {
  width: 370px;
  height: 265px;
}
iframe {
  border-radius: 5px;
}
.current-temp,
.table-view {
  margin: 5px;
  border-radius: 10px;
  width: 190px;
}
.test {
  display: flex;
  justify-content: baseline;
  text-decoration: none;
  list-style-type: none;
}
.test a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
}
.logo {
  margin-right: 10px;
}
.table-view {
  width: 420px;
  margin-top: -5px;
  height: 230px;
}
.state,
.uptime {
  padding: 10px;
  width: 150px;
  height: 90px;
  text-align: center;
  margin: 5px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.last-update {
  color: lightgreen;
  margin-left: 70px;
}
.project-image {
  width: 380px;
  height: 230px;
  border-radius: 7px;
  margin: 5px;
  margin-left: 0px;
}
.middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.center {
  display: flex;
  justify-content: space-evenly;
}
.recommendations {
  background-color: #181b1f;
  width: 350px;
  border-radius: 7px;
  overflow-y: auto;
  padding: 5px;
  margin-top: -4px;
  margin-bottom: 9px;
}
.top-line {
  margin: 0 auto;
  border: 0;
  height: 2px;
  background-color: white;
  width: 550px;
  margin-top: -20px;
  margin-bottom: 10px;
}
.bottom-line {
  margin: 0 auto;
  border: 0;
  height: 2px;
  background-color: white;
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 100px;
}
.footer-text-dash {
  bottom: 0;
  margin: 0 auto;
  color: white;
  margin-top: -90px;
}
