nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 9px;
}
#nav-bar {
}
.logo {
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0 20px;
  margin-left: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.test {
  margin-left: -80px;
}

nav ul li {
  font-weight: bold;
  font-family: Nova Round, "Open Sans", "Helvetica Neue", sans-serif;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-date {
  font-size: 18px;
}

.account {
  display: flex;
  justify-content: flex-end;
}
.logo-text {
  font-size: 25px;
  color: #8392a5;
}

.icon-style {
  color: #8392a5;
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}
.icon-style:hover {
  color: white;
}

.container {
  font-family: Nova Round, "Open Sans", "Helvetica Neue";
  margin-left: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 90%;
  cursor: pointer;
}
.contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner {
  background-image: url("../images/banner.png");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  text-align: center;
  padding: 100px 0;
  color: #fff;
  width: 100%;
  height: 90px;
  cursor: auto;
}
.banner h1 {
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 0;
}
.socials {
  width: 100px;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}

.social-links,
.messages,
.notifications {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 10px;
  text-decoration: none;
}
.content-block {
  background-color: #111827;
  width: 355px;
  height: 160px;
  border: 1px solid rgba(39, 55, 94, 0.5);
  border-radius: 8px;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  color: #8392a5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  position: static;
}
.content-block:hover {
  transform: scale(1.02);
}
.messages,
.notifications {
  font-family: "Open Sans", "Helvetica Neue"; 
  padding: 20px;
  width: 310px;
  text-align: start;
  background-color: #070c16;
  border-radius: 5px;
}
.span1,
.span2 {
  text-align: end;
  margin-left: 135px;
  background-color: red;
  color: black;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 60%;
  font-size: 20px;
  align-items: center;
}

.span2 {
  margin-left: 106px;
}

.messages:hover,
.notifications:hover {
  opacity: 0.6;
}

.footer-text {
  color: #8392a5;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: -11px;
  text-align: center;
}
