* {
  font-family: Nova Round, "Open Sans", "Helvetica Neue";
}
.main {
  margin-left: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.detailed {
  margin: 0 auto;
  color: #556779;
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.sensor-header,
p {
  color: white;
}
.sensor1,
.sensor2 {
  background-color: #181b1f;
  width: 200px;
  flex: 1;
  padding: 20px;
  margin: 5px;
}
.table-view {
  width: 550px;
  height: 460px;
}
.add-sensor {
  margin: 0 auto;
  text-decoration: none;
  color: #556779;
  background-color: #181b1f;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  width: 230px;
  display: flex;
  cursor: pointer;
  transition: 0.8s;
}
.add-sensor:hover {
  opacity: 0.6;
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-bottom: 50px;
  position: relative; 
}
.top-line {
  margin: 0 auto;
  border: 0;
  height: 2px;
  background-color: white;
  width: 550px;
  margin-top: -15px;
  margin-bottom: 10px;
}
.bottom-line {
  margin: 0 auto;
  border: 0;
  height: 2px;
  background-color: white;
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 100px;
}
.footer-text-dash {
  bottom: 0;
  margin: 0 auto;
  color: white;
  margin-top: -90px;
  display: flex;
  justify-content: center;
}
.custom-alert {
  padding: 1em;
  background-color: #1560bd;
  color: #ffffff;
  border-radius: 0.2em;
  border-style: none;
  cursor: pointer;
}
.icon-style:hover {
  cursor:no-drop;
}